.login-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.login-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.login-header img{
    width: 180px;
}

.login-header h1 {
    font-size: 1.5em;
}

.input {
    border: 2px solid;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    max-width: 300px;
    padding: 10px;
    outline: none;
    width: 100%;
}

.login-button {
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    padding: 10px;
    width: 100%;
    
}

.footer{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.signup {
    background-color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    padding: 10px;
    margin-left: 15px;
}

.signup:hover{
    background-color: #333;
    color: #fff;
}

.login-button:hover{
    background-color: #333;
    color: #fff;
    box-shadow: 10px;
}